<!doctype html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title><%= current_page.data.title || "Middleman" %></title>
    <link rel="canonical" href="http://amp.josefzacek.com/index.html" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>

    <!-- make sure this is one line otherwise validation errors occurs -->
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <style amp-custom>
      .content {
        max-width: 768px;
        margin: 0 auto;
      }
      a {
        color: #000;
      }
      .text-center {
        text-align: center;
      }
      .header {
        background-color: #fff;
        border-bottom: 1px solid #f4f4f4;
        position: fixed;
        width: 100%;
        z-index: 3;
        max-width: 768px;
        margin: 0 auto;
      }
      .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
      }
      .header li a {
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #f4f4f4;
        border-top: 1px solid #f4f4f4;
        text-decoration: none;
      }
      .header li a:hover,
      .header .menu-btn:hover {
        background-color: #f4f4f4;
      }
      .header .logo {
        display: block;
        float: left;
        font-size: 2em;
        padding: 10px 20px;
        text-decoration: none;
      }
      .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
      }
      .header .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
      }
      .header .menu-icon .navicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
      }
      .header .menu-icon .navicon:before,
      .header .menu-icon .navicon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }
      .header .menu-icon .navicon:before {
        top: 5px;
      }
      .header .menu-icon .navicon:after {
        top: -5px;
      }
      .header .menu-btn {
        display: none;
      }
      .header .menu-btn:checked ~ .menu {
        max-height: 240px;
      }
      .header .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
      }
      .header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
      }
      .header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
      }
      .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
      .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
      }
      @media (min-width: 650px) {
        .header li {
          float: left;
        }
        .header li a {
          padding: 20px 30px;
          border-top: none;
        }
        .header li:last-child a {
          border-right: none
        }
        .header .menu {
          clear: none;
          float: right;
          max-height: none;
        }
        .header .menu-icon {
          display: none;
        }
      }
    </style>
  </head>

  <body class='<%= page_classes %>'>

    <div class="content">

      <%= partial 'partials/header'%>

      <div class='page-content'> 
        <%= yield %>
      </div>

      <%= partial 'partials/footer' %>

    </div>
  </body>
</html>
